Line bot.json
{
  "name": "Line bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6ffc18b9-7e3e-464a-9572-f35473e52d4d",
        "options": {}
      },
      "id": "39897f97-7d08-435a-845f-268a53138947",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        21840,
        7696
      ],
      "webhookId": "6ffc18b9-7e3e-464a-9572-f35473e52d4d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c52d968e-9ddc-4ccd-b4db-98a7f7aedd45",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cfa5607-6785-4b27-b067-861b17dfbdae",
      "name": "active",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        22208,
        7696
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "filterType": "json",
        "filterJson": "={\n  \"property\":\"結清\",\n  \"formula\":{\n    \"checkbox\": {\n      \"equals\": false\n    }\n  }\n}",
        "options": {}
      },
      "id": "190b8964-f826-4d6d-ae78-2ca09ce85294",
      "name": "未繳費名單",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23792,
        6576
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replyToken",
              "value": "={{ $json.replyToken }}"
            },
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "notificationDisabled",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9dafb72e-683f-407d-bb9d-83d61591b0bb",
      "name": "reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        25248,
        7824
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EeeK58MFzM1kWVEe",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevNodeName = $prevNode.name\n\nconst peopleName = $(prevNodeName).all().map(item => item.json.name)\n\nconst quoteToken = $('Split Out').all().map(item => item.json.message.quoteToken)[0]\n\nconst nextSaturdayQuarter = $('metadata1').first().json.nextSaturdayQuarter\n\nreturn [\n  {\n    \"type\":\"text\",\n    \"text\":`${nextSaturdayQuarter}\\n💀 尚未繳費： ${peopleName.join(', ')}`,\n    \"quoteToken\": quoteToken,\n  }\n]"
      },
      "id": "b7f3b93c-5e97-42f5-8f97-dac3a9554fff",
      "name": "未繳費 message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24016,
        6576
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{done:true}}];"
      },
      "id": "be37d570-44ab-4c13-8be3-be826a12a215",
      "name": "End Branch Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23680,
        5920
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{done:true}}];"
      },
      "id": "9d2f02e4-64ac-4d19-9fa5-bcbcb7dceb37",
      "name": "End Branch People",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23552,
        6112
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{done:true}}];"
      },
      "id": "c912e831-32e3-4f5a-b461-14022cb4695d",
      "name": "End Branch Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23840,
        6272
      ]
    },
    {
      "parameters": {},
      "id": "af137e33-2333-45fe-8539-2354ab4b6d6b",
      "name": "Merge Branches 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        23840,
        6096
      ]
    },
    {
      "parameters": {},
      "id": "36489eff-8116-4d2e-8b22-f998b526d7be",
      "name": "Merge Branches 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        24032,
        6096
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.events",
        "options": {}
      },
      "id": "a413700f-cac6-4b76-9a82-b31127fafef6",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        22032,
        7696
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevNodeName = $prevNode.name\n\nconst messages = $input.all().map(item => item.json)\n\nconst replyToken = $('active').all()[$runIndex].json.replyToken\n\nreturn {\n  messages,\n  replyToken\n}"
      },
      "id": "740ef54e-cdc4-4a5d-8943-288dbd95f9d0",
      "name": "組起來",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24464,
        7824
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "7deede34-579d-4c77-b79b-20b9f4f000e7",
          "mode": "list",
          "cachedResultName": "季租承租紀錄",
          "cachedResultUrl": "https://www.notion.so/7deede34579d4c77b79b20b9f4f000e7"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季租時段|title",
              "condition": "equals",
              "titleValue": "={{ $json.nextSaturdayQuarter }}"
            }
          ]
        },
        "options": {}
      },
      "id": "66b24cf2-77e8-4ca3-953f-0500ece34852",
      "name": "取得該季資訊",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23536,
        7936
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getNextSaturday () {\n  const now = DateTime.now(); \n  const currentWeekday = now.weekday; \n  const daysUntilSaturday = ((6 - currentWeekday + 7) % 7) || 7; \n  const nextSaturday = now.plus({ days: daysUntilSaturday });\n  return nextSaturday\n}\n\nfunction getNextSaturdayQuarter() {\n  const nextSaturday = getNextSaturday()\n  const year = nextSaturday.year;\n  const quarter = nextSaturday.quarter; \n  return `${year}-Q${quarter}`; \n}\n\nfunction getNextSaturdayDateText () {\n  const nextSaturday = getNextSaturday()\n  return nextSaturday.toFormat('yyyy-MM-dd')\n}\n\nconst text = $json.message.text || '';\nconst queryIndex = text.indexOf('?');\nlet params = {};\n\nif (queryIndex !== -1) {\n  const queryString = text.substring(queryIndex + 1);\n  // URLSearchParams handles parsing efficiently\n  const urlParams = new URLSearchParams(queryString);\n  params = Object.fromEntries(urlParams.entries());\n}\n\nconst DEFAULT_OFF_COUNTS = 0\nconst DEFAULT_COURT = 2\nconst DEFAULT_PRICE = 170\n\nreturn {\n  nextSaturdayQuarter: getNextSaturdayQuarter(),\n  nextSaturdayDateText: getNextSaturdayDateText(),\n  offCounts: params['-'] ?? DEFAULT_OFF_COUNTS,\n  courts: params['c'] ?? DEFAULT_COURT,\n  price: DEFAULT_PRICE\n}"
      },
      "id": "5d918731-0fad-49e2-985c-0976311d2fa7",
      "name": "metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23328,
        7824
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc929aeb-b84a-4007-9838-9c3f91500ff3",
              "leftValue": "={{ $json.source.userId }}",
              "rightValue": "U2a0a2c5054c4fa12b78a1d059411e39c",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1fa7a69f-33b1-448b-938d-15ca0fd8fb66",
      "name": "if this user is manager",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        22752,
        7616
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18fbd263-5f9a-42f8-9d26-e4fe973b4135",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "=!next",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "下一次的通知"
            }
          ]
        },
        "options": {}
      },
      "id": "104d9907-0a7d-4267-9118-2f547ca02b47",
      "name": "Manager rules",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        23040,
        7824
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getNextSaturday () {\n  const now = DateTime.now(); \n  const currentWeekday = now.weekday; \n  const daysUntilSaturday = ((6 - currentWeekday + 7) % 7) || 7; \n  const nextSaturday = now.plus({ days: daysUntilSaturday });\n  return nextSaturday\n}\n\nfunction getNextSaturdayQuarter() {\n  const nextSaturday = getNextSaturday()\n  const year = nextSaturday.year;\n  const quarter = nextSaturday.quarter; \n  return `${year}-Q${quarter}`; \n}\n\nfunction getNextSaturdayDateText () {\n  const nextSaturday = getNextSaturday()\n  return nextSaturday.toFormat('yyyy-MM-dd')\n}\n\nreturn {\n  nextSaturdayQuarter: getNextSaturdayQuarter(),\n  nextSaturdayDateText: getNextSaturdayDateText(),\n}"
      },
      "id": "dd923937-9a5f-4daf-8d58-56dc539e3f36",
      "name": "metadata1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23584,
        6576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32110570-2baa-4dcf-b097-8d42114fa839",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "!",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "beae70d8-4b6e-4a35-bc7c-0b6bc404f2fe",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "！",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "fe62d6e3-4daf-4794-af18-649a649b70d8",
      "name": "is command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        22384,
        7696
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ [\"！欠\", \"!owe\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "5262e45f-c423-4422-bbab-a582c41e003b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "未繳費名單"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59f498ff-7248-4bc5-ae95-c79839c4d9c5",
                    "leftValue": "={{ [\"!command\", \"！指令\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "指令列表"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "season-rule-id",
                    "leftValue": "={{ [\"!participants\", \"!people\", \"！報名人\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "季度報名人"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "news-rule-id",
                    "leftValue": "={{ [\"!news\", \"!announcement\", \"！公告\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "最新公告"
            }
          ]
        },
        "options": {}
      },
      "id": "9f06fdd3-a02c-4dd9-b853-83b90c8377ec",
      "name": "Command controller",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        23024,
        6848
      ]
    },
    {
      "parameters": {
        "jsCode": "const quoteToken = $('Split Out').all().map(item => item.json.message.quoteToken)[0]\n\nreturn [\n  {\n    \"type\":\"text\",\n    \"text\":[\n      '指令列表',\n      '{!owe}、{！欠}：未繳費名單',\n      '{!command}、{！指令}：指令列表',\n      '{!participants}、{！報名人}：查詢季度報名人',\n      '{!news}、{！公告}：查詢最新公告',\n      '',\n      `✶ 請注意中文使用全型`,\n      `✶ 指令不包含 {}`,\n    ].join('\\n'),\n    \"quoteToken\": quoteToken,\n    \"quickReply\": {\n      \"items\": [\n        {\n          \"type\": \"action\",\n          \"action\": {\n            \"type\": \"message\",\n            \"label\": \"未繳費名單\",\n            \"text\": \"!owe\"\n          }\n        },\n        {\n          \"type\": \"action\",\n          \"action\": {\n            \"type\": \"message\",\n            \"label\": \"指令列表\",\n            \"text\": \"!command\"\n          }\n        },\n        {\n          \"type\": \"action\",\n          \"action\": {\n            \"type\": \"message\",\n            \"label\": \"季度報名人\",\n            \"text\": \"!participants\"\n          }\n        },\n        {\n           \"type\": \"action\",\n           \"action\": {\n             \"type\": \"message\",\n             \"label\": \"最新公告\",\n             \"text\": \"!news\"\n           }\n        }\n      ]\n    }\n  }\n]"
      },
      "id": "c22acc9e-287f-4adf-b08b-ff6727eb1f11",
      "name": "指令列表 message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24016,
        6864
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "0fd76b77-9f07-4aa3-a3c9-12ba18dbe32e",
          "mode": "list",
          "cachedResultName": "行事曆",
          "cachedResultUrl": "https://www.notion.so/0fd76b779f074aa3a3c912ba18dbe32e"
        },
        "simple": false,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({ and: [{ property: '時間', date: { equals: $json.nextSaturdayDateText } }] }) }}",
        "options": {}
      },
      "id": "3ed3fb7a-cbcd-476a-9ee6-f6ed67b213e3",
      "name": "取得打球日",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23536,
        7744
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quarterInfo = $('取得該季資訊').first().json\nconst metadata = $('metadata').first().json\n\n// 從不同來源彙整資訊\nconst quarterData = {\n  fee: quarterInfo.properties['零打費用']?.number ?? metadata.price,\n  memberCount: quarterInfo.properties['報名人數']?.formula?.number ?? 0,\n  defaultCourts: metadata.courts // Fallback to metadata if not in Quarter DB\n}\n\n// 取得當前節點 (Event) 的資料\n// Input 包含該季所有活動，必須過濾出日期符合 \"下週六\" 的那一筆\nconst targetDate = metadata.nextSaturdayDateText\n\n// Updated to fetching from specific node due to Merge node (Append mode) upstream\n// Prior logic relied on $input, now we explicitly get from '取得打球日'\nconst allEvents = $('取得打球日').all().map(item => item.json)\n\nconst eventPage = allEvents.find(page => {\n  const startTime = page.properties['時間']?.date?.start\n  return startTime && startTime.startsWith(targetDate)\n})\n\nif (!eventPage) {\n  return [\n    {\n      \"type\": \"text\",\n      \"text\": `⚠️ 找不到 ${targetDate} 的打球日活動。\\n請確認 Notion 行事曆是否已建立該日期的頁面。`\n    }\n  ]\n}\n\n// Get People Map\nconst peopleData = $('Get People Next').all().map(item => item.json);\nconst peopleMap = new Map();\npeopleData.forEach(p => peopleMap.set(p.id, p));\n\nconst eventData = {\n  type: eventPage.properties['類型']?.select?.name,\n  timeStart: eventPage.properties['時間']?.date?.start,\n  courtOverride: eventPage.properties['場地數']?.number,\n  absenteesRelations: eventPage.properties['請假人']?.relation ?? [],\n  absenteesCount: eventPage.properties['請假人']?.relation?.length ?? 0\n}\n\n// 1. 檢查是否暫停\nif (eventData.type && eventData.type.includes('暫停')) {\n  return [\n    {\n      \"type\": \"text\",\n      \"text\": `📅 ${targetDate}\\n\\n🛑 本週打球暫停 (Suspended)\\n休息是為了走更長遠的路！`\n    }\n  ]\n}\n\n// 2. 計算邏輯\n// 場地數：優先使用 Event Override，否則使用 Quarter Default (or Metadata default)\nconst finalCourts = eventData.courtOverride ?? quarterData.defaultCourts\nconst courtsDensity = 7 // 每面場地 7 人\n\n// 總請假人數：Event 紀錄的請假人 + 指令參數額外扣除的 (metadata.offCounts)\nconst manualOffCounts = Number(metadata.offCounts) || 0\nconst totalAbsentees = eventData.absenteesCount + manualOffCounts\n\n// Resolve Names\nconst absenteeNames = eventData.absenteesRelations.map(r => {\n    const person = peopleMap.get(r.id);\n    return person?.properties?.['Name']?.title?.[0]?.plain_text || \n           person?.name || \n           \"Unknown\";\n}).filter(n => n);\n\nconst leaveString = absenteeNames.length > 0 ? `請假：${absenteeNames.join(', ')}` : `請假：無`;\n\n// 應到人數 (季租 - 請假)\nconst expectedMembers = quarterData.memberCount - totalAbsentees\n\n// 零打名額\nconst availableSlots = (finalCourts * courtsDensity) - expectedMembers\n\n// 3. 格式化輸出\nconst dateStr = eventData.timeStart ? eventData.timeStart.split('T')[0] : targetDate\n\nfunction generateNumberedListString(number) {\n  if (number <= 0) return '(無名額)';\n  const lines = [];\n  for (let i = 1; i <= number; i++) {\n    lines.push(`${i}.`);\n  }\n  return lines.join('\\n');\n}\n\nreturn [\n  {\n    \"type\":\"text\",\n    \"text\":[\n      `${dateStr} 不能到請喊聲`,\n      leaveString,\n      `場地：${finalCourts} 面`,\n      `應到：${expectedMembers} 人`,\n      `零打名額：${availableSlots}人 $${quarterData.fee}/人`\n    ].join('\\n')\n  },\n  {\n    \"type\":\"text\",\n    \"text\":[\n      `${dateStr}`,\n      `零打名額 ${availableSlots} 人 | $${quarterData.fee}/人`, \n      `${generateNumberedListString(availableSlots)}`\n    ].join('\\n')\n  }\n]"
      },
      "id": "fcf48085-6bbf-43fd-a3a0-01d1cc87edc0",
      "name": "下次打球 v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24048,
        7824
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getQuarter(date) {\n  const year = date.year;\n  const quarter = date.quarter;\n  return `${year}-Q${quarter}`;\n}\n\n// Use $json directly in runOnceForEachItem mode\nconst text = $json.message.text;\nlet arg = text.replace(/^(!participants|!people|！報名人)\\s*/i, '').trim();\n\nlet targetQuarter;\nif (arg) {\n    targetQuarter = arg.toUpperCase();\n} else {\n    targetQuarter = getQuarter(DateTime.now());\n}\n\nreturn {\n    targetQuarter\n}"
      },
      "id": "8d350cfe-083d-4daa-9009-4d785c317dd7",
      "name": "Season Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23280,
        7376
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "7deede34-579d-4c77-b79b-20b9f4f000e7",
          "mode": "list",
          "cachedResultName": "季租承租紀錄",
          "cachedResultUrl": "https://www.notion.so/7deede34579d4c77b79b20b9f4f000e7"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季租時段|title",
              "condition": "equals",
              "titleValue": "={{ $json.targetQuarter }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8df29276-4adb-4e70-9c65-fe720bef64dc",
      "name": "Get Season Info Custom",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23488,
        7376
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "simple": false,
        "filterType": "json",
        "filterJson": "{}",
        "options": {}
      },
      "id": "b8b50bdc-a72b-4694-b929-f2710c02eac8",
      "name": "Get All People Global",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23680,
        7376
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seasonPage = $('Get Season Info Custom').first().json;\n// Optimize: Create a map for O(1) lookup\nconst peopleMap = new Map();\n$input.all().forEach(item => {\n    peopleMap.set(item.json.id, item.json);\n});\n\nconst quoteToken = $('Split Out').first().json.message.quoteToken;\n\nif (!seasonPage) {\n    return {\n        \"type\": \"text\",\n        \"text\": \"❌ 找不到季度資料\",\n        \"quoteToken\": quoteToken\n    };\n}\n\nconst quarterTitle = seasonPage.properties['季租時段']?.title?.[0]?.plain_text || \"未知季度\";\nconst relations = seasonPage.properties['報名人']?.relation || [];  \n\nif (relations.length === 0) {\n     return {\n        \"type\": \"text\",\n        \"text\": `🏸 ${quarterTitle} 尚無報名資料`,\n        \"quoteToken\": quoteToken\n    };\n}\n\nconst participantIds = relations.map(r => r.id);\nconst names = [];\n\nfor (const id of participantIds) {\n    const person = peopleMap.get(id); \n    let name = \"Unknown\";\n    if (person) {\n         if (person.properties?.['Name']?.title?.[0]?.plain_text) {\n             name = person.properties['Name'].title[0].plain_text;\n         } else if (person.name) {\n             name = person.name;\n         }\n    }\n    names.push(name);\n}\n\nreturn {\n    \"type\": \"text\",\n    \"text\": `🏸 ${quarterTitle} 報名名單 (${names.length}人)：\\n\\n${names.join('、')}`,\n    \"quoteToken\": quoteToken\n};"
      },
      "id": "0a62a757-1929-4ee9-9778-7d47ff2a9615",
      "name": "Match Participants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23888,
        7376
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "simple": false,
        "filterType": "json",
        "filterJson": "{}",
        "options": {}
      },
      "id": "2fc87520-2b40-486b-aad6-982bbeb463ff",
      "name": "Get People Next",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23664,
        7936
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {},
      "id": "4145ca1a-2bbf-4f91-9976-25a7af21aef2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        23776,
        7824
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e24dbf2-e21c-80b7-83f6-ef99c1dd9425",
          "mode": "list",
          "cachedResultName": "所有公告",
          "cachedResultUrl": "https://www.notion.so/2e24dbf2e21c80b783f6ef99c1dd9425"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "NEWS_TEMPLATE"
            }
          ]
        },
        "options": {}
      },
      "id": "4838d66f-49da-4416-a001-13c6dceab5ff",
      "name": "取得最新公告",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23408,
        6272
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "id": "f89bbc9d-5965-4502-ac16-2bbbee4559ec",
      "name": "最新公告 child blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23552,
        6272
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blocks = $('最新公告 child blocks').all().map(item => item.json);\nconst seasonPage = $('Get Season Info for Announce').first().json;\nconst calendarPages = $('Get Calendar for Announce').all().map(item => item.json);\nconst peopleList = $('Get People for Announce').all().map(item => item.json);\n\nconst quoteToken = $('Split Out').first().json.message.quoteToken;\n\n// Validate Data\nif (!seasonPage) {\n    return {\n        type: \"text\",\n        text: \"❌ 找不到本季季度資料\",\n        quoteToken: quoteToken\n    };\n}\n\n// --- Helper: People Map ---\nconst peopleMap = new Map();\npeopleList.forEach(p => peopleMap.set(p.id, p));\n\nfunction getPersonName(id) {\n    const p = peopleMap.get(id);\n    if (!p) return \"Unknown\";\n    return p.properties['Name']?.title?.[0]?.plain_text || p.name || \"Unknown\";\n}\n\n// --- Prepare Variables ---\n\n// {SEASON}\nconst SEASON = seasonPage.properties['季租時段']?.title?.[0]?.plain_text || \"Unknown-Quarter\";\n\n// {FROM_TO_MONTH}\nlet FROM_TO_MONTH = \"\";\nif (SEASON.includes(\"Q1\")) FROM_TO_MONTH = \"1~3月\";\nelse if (SEASON.includes(\"Q2\")) FROM_TO_MONTH = \"4~6月\";\nelse if (SEASON.includes(\"Q3\")) FROM_TO_MONTH = \"7~9月\";\nelse if (SEASON.includes(\"Q4\")) FROM_TO_MONTH = \"10~12月\";\n\n// {TOTAL_PEOPLE}\nconst TOTAL_PEOPLE = seasonPage.properties['報名人數']?.formula?.number || 0;\n\n// {LIST_ALL_PEOPLE}\nconst relations = seasonPage.properties['報名人']?.relation || [];\nconst LIST_ALL_PEOPLE = relations.map(r => getPersonName(r.id)).join(\"、\");\n\n// {PRICE_PER_PERSON_FOR_SEASON}\nconst PRICE_PER_PERSON_FOR_SEASON = seasonPage.properties['每人平均場租']?.formula?.number || 0;\n\n// {PRICE_PER_PERSON_FOR_ONCE}\nconst PRICE_PER_PERSON_FOR_ONCE = seasonPage.properties['零打費用']?.number || 0;\n\n// {COURT_COUNT}\nconst COURT_COUNT = seasonPage.properties['場地數']?.number || 0;\n\n// {TOTAL_PRICE}\nconst TOTAL_PRICE = seasonPage.properties['場租總金額']?.formula?.number || 0;\n\n// {LOCATION}\nconst LOCATION = seasonPage.properties['地點']?.rich_text?.[0]?.plain_text || \n               seasonPage.properties['地點']?.select?.name || \"未知地點\";\n\n// Filter active play dates (exclude paused)\nconst activeCalendarPages = calendarPages.filter(p => {\n    const type = p.properties['類型']?.select?.name;\n    return type !== '暫停';\n});\n\n// {WEEK_COUNTS}\nconst WEEK_COUNTS = activeCalendarPages.length;\n\n// {LIST_ALL_DATES}\n// Sort by date first\nactiveCalendarPages.sort((a, b) => {\n    const da = a.properties['時間']?.date?.start || \"\";\n    const db = b.properties['時間']?.date?.start || \"\";\n    return da.localeCompare(db);\n});\n\nconst datesByMonth = {};\nactiveCalendarPages.forEach(p => {\n    const dateStr = p.properties['時間']?.date?.start;\n    if (!dateStr) return;\n    const dt = DateTime.fromISO(dateStr);\n    const monthKey = dt.toFormat(\"MM\");\n    const dayStr = dt.toFormat(\"M/dd\");\n    \n    if (!datesByMonth[monthKey]) datesByMonth[monthKey] = [];\n    datesByMonth[monthKey].push(dayStr);\n});\n\nconst LIST_ALL_DATES = Object.keys(datesByMonth).sort().map(m => {\n    return datesByMonth[m].join(\", \");\n}).join(\"\\n\");\n\n\n// --- Construct Template ---\nconst validBlocks = blocks.filter(b => b.content && b.content.trim() !== \"\");\nlet templateText = validBlocks.map(b => {\n    if (b.type === 'bulleted_list_item') {\n        return `• ${b.content}`;\n    }\n    return b.content;\n}).join('\\n');\n\nif (!templateText) templateText = \"目前沒有公告 (NEW_TEMPLATE Empty)\";\n\n// --- Replace Placeholders ---\nlet finalText = templateText;\nfinalText = finalText.replace(/{SEASON}/g, SEASON);\nfinalText = finalText.replace(/{FROM_TO_MONTH}/g, FROM_TO_MONTH);\nfinalText = finalText.replace(/{TOTAL_PEOPLE}/g, TOTAL_PEOPLE);\nfinalText = finalText.replace(/{LIST_ALL_PEOPLE}/g, LIST_ALL_PEOPLE);\nfinalText = finalText.replace(/{PRICE_PER_PERSON_FOR_SEASON}/g, PRICE_PER_PERSON_FOR_SEASON);\nfinalText = finalText.replace(/{WEEK_COUNTS}/g, WEEK_COUNTS);\nfinalText = finalText.replace(/{PRICE_PER_PERSON_FOR_ONCE}/g, PRICE_PER_PERSON_FOR_ONCE);\nfinalText = finalText.replace(/{COURT_COUNT}/g, COURT_COUNT);\nfinalText = finalText.replace(/{TOTAL_PRICE}/g, TOTAL_PRICE);\nfinalText = finalText.replace(/{LIST_ALL_DATES}/g, LIST_ALL_DATES);\nfinalText = finalText.replace(/{LOCATION}/g, LOCATION);\n\nreturn {\n    \"type\": \"text\",\n    \"text\": finalText,\n    \"quoteToken\": quoteToken\n};"
      },
      "name": "Latest Announcement Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24064,
        6320
      ],
      "id": "51fc85c1-4eb3-4f3e-ab44-905acb5a3fbc"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getNextSaturday () {\n  const now = DateTime.now(); \n  const currentWeekday = now.weekday; \n  const daysUntilSaturday = ((6 - currentWeekday + 7) % 7) || 7; \n  const nextSaturday = now.plus({ days: daysUntilSaturday });\n  return nextSaturday\n}\n\nfunction getNextSaturdayQuarter() {\n  const nextSaturday = getNextSaturday()\n  const year = nextSaturday.year;\n  const quarter = nextSaturday.quarter; \n  return `${year}-Q${quarter}`; \n}\n\nreturn {\n  targetQuarter: getNextSaturdayQuarter()\n}"
      },
      "id": "f64db4a7-3764-4a2b-9b03-1f2cd2ec33f9",
      "name": "Announce Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23200,
        6256
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "7deede34-579d-4c77-b79b-20b9f4f000e7",
          "mode": "list"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季租時段|title",
              "condition": "equals",
              "titleValue": "={{ $json.targetQuarter }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e038b1a1-cae9-4cb6-9b2f-a561e9c48949",
      "name": "Get Season Info for Announce",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23408,
        5920
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "0fd76b77-9f07-4aa3-a3c9-12ba18dbe32e",
          "mode": "list",
          "cachedResultName": "行事曆",
          "cachedResultUrl": "https://www.notion.so/0fd76b779f074aa3a3c912ba18dbe32e"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季度|relation",
              "condition": "contains",
              "relationValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e212137-7c8e-43e3-8626-094dd3b12fbf",
      "name": "Get Calendar for Announce",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23552,
        5920
      ],
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "simple": false,
        "filterType": "json",
        "filterJson": "{}",
        "options": {}
      },
      "id": "4485b35e-fdab-4724-a194-760bd9530462",
      "name": "Get People for Announce",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23408,
        6112
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active": {
      "main": [
        [
          {
            "node": "is command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未繳費名單": {
      "main": [
        [
          {
            "node": "未繳費 message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未繳費 message": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組起來": {
      "main": [
        [
          {
            "node": "reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得該季資訊": {
      "main": [
        [
          {
            "node": "Get People Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata": {
      "main": [
        [
          {
            "node": "取得該季資訊",
            "type": "main",
            "index": 0
          },
          {
            "node": "取得打球日",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if this user is manager": {
      "main": [
        [
          {
            "node": "Manager rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Command controller",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager rules": {
      "main": [
        [
          {
            "node": "metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata1": {
      "main": [
        [
          {
            "node": "未繳費名單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is command": {
      "main": [
        [
          {
            "node": "if this user is manager",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Command controller": {
      "main": [
        [
          {
            "node": "metadata1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "指令列表 message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Season Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Announce Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令列表 message1": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得打球日": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get People Next": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "下次打球 v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下次打球 v2": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Season Metadata": {
      "main": [
        [
          {
            "node": "Get Season Info Custom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Season Info Custom": {
      "main": [
        [
          {
            "node": "Get All People Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All People Global": {
      "main": [
        [
          {
            "node": "Match Participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Participants": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得最新公告": {
      "main": [
        [
          {
            "node": "最新公告 child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最新公告 child blocks": {
      "main": [
        [
          {
            "node": "End Branch Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Latest Announcement Message": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Announce Metadata": {
      "main": [
        [
          {
            "node": "Get Season Info for Announce",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get People for Announce",
            "type": "main",
            "index": 0
          },
          {
            "node": "取得最新公告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Season Info for Announce": {
      "main": [
        [
          {
            "node": "Get Calendar for Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar for Announce": {
      "main": [
        [
          {
            "node": "End Branch Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get People for Announce": {
      "main": [
        [
          {
            "node": "End Branch People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End Branch Calendar": {
      "main": [
        [
          {
            "node": "Merge Branches 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End Branch People": {
      "main": [
        [
          {
            "node": "Merge Branches 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "End Branch Blocks": {
      "main": [
        [
          {
            "node": "Merge Branches 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches 1": {
      "main": [
        [
          {
            "node": "Merge Branches 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branches 2": {
      "main": [
        [
          {
            "node": "Latest Announcement Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f1f8bbf1-c138-4256-9bfb-7fb81654bd2e",
  "meta": {
    "instanceId": "434c89e639dca69ee85d48434474c04f2299edb82bd25537f48b2f00ff1d4403"
  },
  "id": "z-kTyrtVcRCn1Qs2zypfX",
  "tags": [
    {
      "updatedAt": "2025-04-15T05:32:47.542Z",
      "createdAt": "2025-04-15T05:32:47.542Z",
      "id": "3iuVNHXrJWil5Kxb",
      "name": "baserow"
    },
    {
      "updatedAt": "2025-04-15T05:32:41.173Z",
      "createdAt": "2025-04-15T05:32:41.173Z",
      "id": "aNPgZxmGaxoKb7As",
      "name": "line"
    },
    {
      "updatedAt": "2025-04-15T04:50:25.893Z",
      "createdAt": "2025-04-15T04:50:25.893Z",
      "id": "0i74kYvNo5LJ26IU",
      "name": "bot"
    }
  ]
}