Line bot.json
{
  "name": "Line bot",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e24dbf2-e21c-80b7-83f6-ef99c1dd9425",
          "mode": "list",
          "cachedResultName": "所有公告",
          "cachedResultUrl": "https://www.notion.so/2e24dbf2e21c80b783f6ef99c1dd9425"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "INTRODUCE"
            }
          ]
        },
        "options": {}
      },
      "id": "944ca64d-c05c-4003-a847-b7608e487083",
      "name": "取得自我介紹",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87920,
        92992
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "id": "03dbc3a0-b2a8-44b2-bcef-ebe114d62c8d",
      "name": "自我介紹 child blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        92992
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blocks = $('自我介紹 child blocks').all().map(item => item.json);\nconst event = $('active').item.json;\nconst joinedUserId = event.source.userId;\nconst managerId = \"U2a0a2c5054c4fa12b78a1d059411e39c\";\n\nconst validBlocks = blocks.filter(b => b.content && b.content.trim() !== \"\");\nlet templateText = validBlocks.map(b => {\n    if (b.type === 'bulleted_list_item') {\n        return `• ${b.content}`;\n    }\n    return b.content;\n}).join('\\n');\n\nif (!templateText) templateText = \"自我介紹 (Intro Message Empty)\";\n\n// 建立 substitution 物件（使用 textV2 格式）\nconst substitution = {};\n\nif (templateText.includes('{USER}')) {\n    substitution.USER = {\n        type: \"mention\",\n        mentionee: {\n            type: \"user\",\n            userId: joinedUserId\n        }\n    };\n}\n\nif (templateText.includes('{MANAGER}')) {\n    substitution.MANAGER = {\n        type: \"mention\",\n        mentionee: {\n            type: \"user\",\n            userId: managerId\n        }\n    };\n}\n\nconst result = {\n    type: \"textV2\",\n    text: templateText\n};\n\nif (Object.keys(substitution).length > 0) {\n    result.substitution = substitution;\n}\n\nreturn result;"
      },
      "id": "83128efa-1371-406b-a3e5-2428dd0f06d6",
      "name": "Self Intro Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        92992
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.eventPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "零打|multi_select",
              "multiSelectValue": "={{ $json.updateData }}"
            }
          ]
        },
        "options": {}
      },
      "id": "50fff573-cea6-401c-8c75-94b9fcb74a34",
      "name": "Update Calendar Guest List",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        94032
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const logic = $(\"Registration Logic Processor\").item.json;\nif (logic.error) {\n  return { type: 'text', text: logic.error };\n}\n\nconst participants = logic.finalParticipants || [];\nconst guestParticipants = participants.filter(p => p.type === 'guest');\nconst lines = [];\n\nconst grouped = [];\nguestParticipants.forEach(p => {\n    const baseName = p.name.replace(/朋友.*$/, '朋友').replace(/ \\d+$/, '');\n    if (grouped.length > 0 && grouped[grouped.length-1].base === baseName) {\n        grouped[grouped.length-1].count++;\n    } else {\n        grouped.push({ base: baseName, name: p.name, type: p.type, count: 1 });\n    }\n});\n\nlet currentCount = 0;\ngrouped.forEach((g, i) => {\n    currentCount++;\n    if (g.count > 1) {\n        lines.push(`${currentCount}. ${g.base} +${g.count}`);\n    } else {\n        lines.push(`${currentCount}. ${g.name}`);\n    }\n});\n\n// Pad with empty numbered slots\nconst maxSlots = logic.maxSlots || 0;\nconst usedSlots = guestParticipants.length; \n// Logic note: lines printed above correspond to groups. \n// Standard requirement: One line per slot? No, commonly \"1. Name\", \"2. Name\".\n// If +2, it might take 1 line but 2 slots? \n// Original code: lines.push(...) for each GROUP. \n// If I have \"Name +2\", that is 2 slots.\n// But the display requirement usually lists slots physically or just available count.\n// User requested: \"numbered list of empty slots\".\n// Assuming we continue numbering from where we left off.\n\n// Let's refine the numbering to match slots.\n// Actually, usually users want to see:\n// 1. A\n// 2. B\n// 3. \n// 4.\n\n// Re-doing the loop to be simpler for this requirement:\n// Not grouping +2 for the list? \n// User prompt said: \"duplicate zero-day signups needed to be displayed with a + separator\". \n// So \"Name+2\" is likely one entry in the list?\n// If \"Name+2\" (2 people) takes 2 slots.\n// Does it show as:\n// 1. Name+2\n// 3. \n// OR\n// 1. Name+2\n// 2. Name+2 (implied)\n// 3.\n\n// Let's stick to the previous grouping logic for now, but just append empty numbers.\n// If \"Name+2\" takes 2 slots, but occupies 1 line \"1. Name+2\". \n// The next available slot number should probably start after the *used* slots.\n// total used = guestParticipants.length.\n// So if 2 guests, next empty is 3.\n\nconst usedCount = guestParticipants.length;\nconst startEmpty = usedCount + 1;\n\nfor (let i = startEmpty; i <= maxSlots; i++) {\n    lines.push(`${i}.`);\n}\n\nconst remaining = Math.max(0, logic.maxSlots - guestParticipants.length);\nconst leaveNames = logic.finalLeaveNames || [];\nconst textParts = [\n  `${logic.eventDate}`,\n  `零打名額 ${logic.maxSlots} 人 | ${logic.fee}/人`,\n  ...lines,\n  `剩餘名額： ${remaining} 人`\n];\n\nif (leaveNames.length > 0) {\n    textParts.push(`請假：${leaveNames.join('、')}`);\n}\n\ntextParts.push('', `若要報名請輸入 @Dobby +1`);\n\nconst text = textParts.join('\\n');\n\nreturn { type: 'text', text };"
      },
      "id": "285ce198-0bdf-4ba1-a343-540e2bf7edca",
      "name": "Registration Final Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        93744
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.eventPageId }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "請假人|relation",
              "relationValue": [
                "={{(() => {\nreturn $json.updateData.map(item => item.id).join(',')\n})()}}"
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "a1becd5e-20e2-4ca0-88c6-a799128a70f1",
      "name": "Update Notion Leave",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        93376
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "leave-update-id",
                    "leftValue": "={{ $json.updateType }}",
                    "rightValue": "leave",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Leave"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "guest-update-id",
                    "leftValue": "={{ $json.updateType }}",
                    "rightValue": "guest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Guest"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "error-update-id",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Registration Error"
            }
          ]
        },
        "options": {}
      },
      "id": "8e0adb38-f564-46bb-ad4c-a714e75b6964",
      "name": "Update Notion Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        87920,
        93728
      ]
    },
    {
      "parameters": {
        "jsCode": "const aggregate = $(\"Aggregate Target\").item.json;\nconst quarterInfo = $(\"取得該季資訊\").first().json;\nconst metadata = $(\"metadata\").first().json;\nconst allEvents = $(\"取得打球日\").all().map(item => item.json);\nconst peopleList = $(\"Get People Next\").all().map(item => item.json);\n\n// Robust property getters\nconst getDate = (item) => (item.properties?.['時間']?.date?.start || (typeof item.property_時間 === 'string' ? item.property_時間 : item.property_時間?.start));\nconst getRelationIds = (item, key) => (item.properties?.[key]?.relation?.map(r => r.id) || item[`property_${key.toLowerCase()}`] || []);\nconst getMultiSelect = (item, key) => (item.properties?.[key]?.multi_select?.map(s => s.name) || item[`property_${key.toLowerCase()}`] || []);\nconst getNumber = (item, key) => (item.properties?.[key]?.number || item[`property_${key.toLowerCase()}`] || 0);\nconst getName = (item) => (item.properties?.['Name']?.title?.[0]?.plain_text || item.property_name || item.name);\n\nconst targetDate = metadata.nextSaturdayDateText;\nconst eventPage = allEvents.find(page => {\n  const startTime = getDate(page);\n  return startTime && startTime.startsWith(targetDate);\n});\n\nif (!eventPage) {\n  throw new Error(`找不到 ${targetDate} 的活動頁面`);\n}\n\nconst peopleMap = new Map();\npeopleList.forEach(p => peopleMap.set(p.id, p));\n\nconst command = aggregate.command;\nconst targetPersonId = aggregate.targetPersonId;\nconst targetPersonName = aggregate.targetPersonName;\nconst actorIsAdmin = aggregate.actorIsAdmin;\n\nconst seasonMembers = getRelationIds(quarterInfo, '報名人');\nconst isSelfSeasonPlayer = targetPersonId && seasonMembers.includes(targetPersonId);\n\nconst maxCourts = getNumber(eventPage, '場地數') || getNumber(quarterInfo, '場地數') || 0;\nconst totalCapacity = maxCourts * 7;\nconst leaveList = getRelationIds(eventPage, '請假人');\nconst guestList = getMultiSelect(eventPage, '零打'); // Changed to Multi-select (strings)\nconst seasonTotal = seasonMembers.length;\n\nlet updateType = null;\nlet updateData = null;\nlet error = null;\n\n// Check Parser Error or Admin Permission\nif (aggregate.parserError) {\n    error = aggregate.parserError;\n} else if (!aggregate.isSelf && !aggregate.actorIsAdmin) {\n    error = '你才不是管理員';\n}\n\n// Helper to resolve display name (e.g., 修_Kevin -> 許文修)\nconst resolveDisplayName = (rawBaseName) => {\n    if (rawBaseName === targetPersonName && targetPersonId) {\n        return getName(peopleMap.get(targetPersonId) || {}) || rawBaseName;\n    }\n    return rawBaseName;\n};\n\nif (!error) {\n    try {\n      if (command === '假' || command === '銷假') {\n        if (!isSelfSeasonPlayer) {\n          error = '只有季打球員才能請假/銷假喔';\n        } else {\n          updateType = 'leave';\n          if (command === '假') {\n            if (leaveList.includes(targetPersonId)) {\n              error = `${targetPersonName} 已經請過假囉`;\n            } else {\n              updateData = [...leaveList.map(id => ({ id })), { id: targetPersonId }];\n            }\n          } else {\n            if (!leaveList.includes(targetPersonId)) {\n              error = `${targetPersonName} 本來就沒有請假喔`;\n            } else {\n              updateData = leaveList.filter(id => id !== targetPersonId).map(id => ({ id }));\n            }\n          }\n        }\n      } else if (command === '+1' || command === '+2' || command === '-1') {\n        updateType = 'guest';\n        const count = (command === '+2') ? 2 : 1;\n        \n        // Base name for internal tracking vs display matching\n        let baseName = targetPersonName;\n        if (isSelfSeasonPlayer) baseName = `${targetPersonName}朋友`;\n        \n        // Display name based on Personnel List registration\n        const baseDisplayName = resolveDisplayName(baseName);\n    \n        // Current attendance calc (pre-update for validation)\n        const PreCalcLeaveLen = leaveList.length;\n        const PreCalcGuestLen = guestList.length;\n        const PreCalcAttendance = seasonTotal - PreCalcLeaveLen + PreCalcGuestLen;\n    \n        if (command.startsWith('+')) {\n          if (PreCalcAttendance + count > totalCapacity && !actorIsAdmin) {\n            error = '名額已滿囉，下次請早點喊聲！';\n          } else {\n            const newGuests = [...guestList];\n            for (let i = 0; i < count; i++) {\n               let attempt = 1;\n               while (true) {\n                 const candidate = attempt === 1 ? baseDisplayName : `${baseDisplayName}+${attempt}`;\n                 if (!newGuests.includes(candidate)) {\n                   newGuests.push(candidate);\n                   break;\n                 }\n                 attempt++;\n               }\n            }\n            updateData = newGuests; // Array of strings for Multi-select\n          }\n        } else {\n          const matchedIndices = guestList.map((name, index) => ({ name, index }))\n            .filter(g => g.name === baseDisplayName || g.name.startsWith(`${baseDisplayName}+`));\n          \n          if (matchedIndices.length === 0) {\n            error = `找不到 ${targetPersonName} 的報名紀錄`;\n          } else {\n            matchedIndices.sort((a, b) => {\n                const getNum = (s) => {\n                    if (s === baseDisplayName) return 1;\n                    const m = s.match(/\\+(\\d+)$/);\n                    return m ? parseInt(m[1]) : 1;\n                };\n                return getNum(b.name) - getNum(a.name);\n            });\n            updateData = guestList.filter((_, i) => i !== matchedIndices[0].index);\n          }\n        }\n      }\n    } catch (e) {\n      error = '我腦袋壞去，突然不知道處理這些事情了...';\n    }\n}\n\n// === Post-Update Logic ===\n// Determine final state for reply\nconst finalLeaveList = (updateType === 'leave' && !error && updateData) ? updateData.map(d => d.id) : leaveList;\nconst finalGuestList = (updateType === 'guest' && !error && updateData) ? updateData : guestList;\n\n// Corrected guestCapacity calculation: Total Capacity - (Season Members - Final Absentees)\nconst guestCapacity = Math.max(0, totalCapacity - (seasonTotal - finalLeaveList.length));\n\n// Calculate final participants list\nconst finalParticipants = [];\nseasonMembers.forEach(id => {\n  if (!finalLeaveList.includes(id)) {\n    finalParticipants.push({\n      name: getName(peopleMap.get(id) || {}) || \"未知球員\",\n      type: 'season'\n    });\n  }\n});\n\nfinalGuestList.forEach(name => {\n  finalParticipants.push({\n    name: name || \"未知朋友\",\n    type: 'guest'\n  });\n});\n\nreturn {\n  parser: aggregate,\n  eventPageId: eventPage.id,\n  eventDate: targetDate,\n  maxSlots: guestCapacity,\n  fee: getNumber(quarterInfo, '零打費用'),\n  updateType,\n  updateData,\n  error,\n  isSeasonPlayer: isSelfSeasonPlayer,\n  finalParticipants,\n  finalLeaveNames: finalLeaveList.map(id => {\n      const p = peopleMap.get(id);\n      return p ? getName(p) : \"未知球員\";\n  })\n};"
      },
      "id": "7e669167-a416-4546-b9fc-b349fcdc47c1",
      "name": "Registration Logic Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87696,
        93744
      ]
    },
    {
      "parameters": {},
      "id": "2e726077-f56c-4ef8-bbce-470b9b163eb6",
      "name": "Sync Registration",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        87472,
        93744
      ]
    },
    {
      "parameters": {},
      "id": "5537abf6-b87d-4e68-a1eb-a7b5edf997ec",
      "name": "Sync Notion Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        87248,
        94272
      ]
    },
    {
      "parameters": {
        "jsCode": "const parser = $(\"Registration Parser\").item.json;\nconst resolve = $(\"Resolve Registration Target\").first().json;\n\n// Robust property getters\nconst getRegisteredNameId = (item) => (item.properties?.['Registered name']?.relation?.[0]?.id || item.property_registered_name?.[0]);\nconst getCustomName = (item) => (item.properties?.['Custom Name']?.rich_text?.[0]?.plain_text || item.property_custom_name);\nconst getUserId = (item) => (item.properties?.['user_id']?.title?.[0]?.plain_text || item.property_user_id);\nconst getName = (item) => (item.properties?.['Name']?.title?.[0]?.plain_text || item.property_name || item.name);\n\nlet targetPersonId = null;\nlet targetPersonName = \"Unknown\";\n\ntry {\n  if (resolve.type === 'self') {\n    targetPersonId = resolve.targetPersonId;\n    targetPersonName = resolve.targetName;\n  } else if (resolve.type === 'mention') {\n    const targetUser = $(\"Get Target User (Mention)\").item.json;\n    targetPersonId = getRegisteredNameId(targetUser);\n    targetPersonName = getCustomName(targetUser) || getUserId(targetUser);\n  } else {\n    const targetPerson = $(\"Get Target Person (By Name)\").item.json;\n    targetPersonId = targetPerson.id;\n    targetPersonName = getName(targetPerson) || parser.targetName;\n  }\n} catch (e) {\n  // If lookup failed, we still have the name from parser if provided\n  targetPersonName = parser.targetName || \"Unknown\";\n}\n\nreturn {\n  ...parser,\n  actorIsAdmin: resolve.isAdmin,\n  targetPersonId,\n  targetPersonName\n};"
      },
      "id": "270b7e5a-d509-45bd-9318-a3f90af27e9d",
      "name": "Aggregate Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87248,
        93616
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "People List"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "={{ $json.targetName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46301d7a-c1e9-45fc-bd9b-f59e6249c4bb",
      "name": "Get Target Person (By Name)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87024,
        93648
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e44dbf2-e21c-80d1-af81-c3b61579b3bb",
          "mode": "list",
          "cachedResultName": "USERS"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "user_id",
              "condition": "equals",
              "titleValue": "={{ $json.targetUserId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2110d648-879c-41b1-8629-aaaa7af3796e",
      "name": "Get Target User (Mention)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87024,
        93840
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "self-id",
                    "leftValue": "={{ $json.branch }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Self"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "mention-id",
                    "leftValue": "={{ $json.branch }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mention"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "name-id",
                    "leftValue": "={{ $json.branch }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Name"
            }
          ]
        },
        "options": {}
      },
      "id": "90675b9f-9e5c-401b-b2fd-3ecdb0340f99",
      "name": "Registration Target Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        86800,
        93680
      ]
    },
    {
      "parameters": {
        "jsCode": "const parser = $(\"Registration Parser\").item.json;\nconst actor = $input.item.json;\n\n// Robust property getters\nconst getRegisteredNameId = (item) => (item.properties?.['Registered name']?.relation?.[0]?.id || item.property_registered_name?.[0]);\nconst getCustomName = (item) => (item.properties?.['Custom Name']?.rich_text?.[0]?.plain_text || item.property_custom_name);\nconst getUserId = (item) => (item.properties?.['user_id']?.title?.[0]?.plain_text || item.property_user_id);\nconst getIsAdmin = (item) => (item.properties?.['is_admin']?.checkbox ?? item.property_is_admin ?? false);\n\nif (parser.isSelf) {\n  return [\n    {\n      json: {\n        type: 'self',\n        targetPersonId: getRegisteredNameId(actor),\n        targetName: getCustomName(actor) || getUserId(actor),\n        isAdmin: getIsAdmin(actor) === true,\n        branch: 0\n      }\n    }\n  ];\n}\n\nif (parser.targetUserId) {\n  return [\n    {\n      json: {\n        type: 'mention',\n        targetUserId: parser.targetUserId,\n        isAdmin: getIsAdmin(actor) === true,\n        branch: 1\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      type: 'name',\n      targetName: parser.targetName,\n      isAdmin: getIsAdmin(actor) === true,\n      branch: 2\n    }\n  }\n];"
      },
      "id": "df8d237d-e40f-41a7-8832-576c436cd0a1",
      "name": "Resolve Registration Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        86576,
        93696
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e44dbf2-e21c-80d1-af81-c3b61579b3bb",
          "mode": "list",
          "cachedResultName": "USERS"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "user_id|title",
              "condition": "equals",
              "titleValue": "={{ $json.actorUserId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "47d03142-9ef1-47bd-b7de-0ac4903175a7",
      "name": "Get Actor User",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        86352,
        93696
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $(\"active\").item.json;\nconst msg = event.message;\n// Remove @Dobby case-insensitive, then trim\nconst text = msg.text.replace(/@Dobby/i, \"\").trim();\n\nconst commandRegex = /(\\+1|\\+2|-1|假|銷假)/;\nconst match = text.match(commandRegex);\nconst command = match ? match[1] : null;\n\nlet targetName = null;\nlet targetUserId = null;\nlet parserError = null;\n\nif (command) {\n  const rawTarget = text.replace(commandRegex, \"\").trim();\n  if (rawTarget) {\n    if (rawTarget.startsWith(\"@\")) {\n      const mentions = msg.mention?.mentions || [];\n      const cleanTarget = rawTarget.substring(1);\n      if (mentions.length > 0) {\n        targetUserId = mentions[0].userId;\n        targetName = cleanTarget;\n      } else {\n        targetName = cleanTarget;\n      }\n    } else {\n      parserError = \"指令格式錯誤：指定對象需使用 @Name\";\n      targetName = rawTarget;\n    }\n  }\n}\n\nreturn {\n  command,\n  targetName,\n  targetUserId,\n  parserError,\n  originalText: msg.text,\n  isSelf: !targetName && !targetUserId && !parserError,\n  actorUserId: event.source.userId\n};"
      },
      "id": "284b04fb-7267-434b-8b1b-9739830153d2",
      "name": "Registration Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        86128,
        93920
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "-CIVmb7fG9yIL8IhBGbEG",
          "mode": "list",
          "cachedResultUrl": "/workflow/-CIVmb7fG9yIL8IhBGbEG",
          "cachedResultName": "LineBot-Dobby-update-display_name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "group_id": "={{ $('Check User Source').item.json.source.groupId }}",
            "user_id": "={{ $('Check User Source').item.json.source.userId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        86128,
        92080
      ],
      "id": "eb312c7d-ce48-47b6-abdb-c8615b73cd5c",
      "name": "Call 'Notion Badminton update user display_name'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "auto-reply-admin-check",
              "leftValue": "={{ $json._is_admin }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "webhook-test-url-check",
              "leftValue": "={{ $('Webhook').item.json.webhookUrl }}",
              "rightValue": "webhook-test",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "840fb67b-5ddc-429d-a4d3-dec6fbefcb77",
      "name": "Skip Auto Reply If Admin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        87920,
        94816
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get original event\nconst originalEvent = $(\"is command\").item.json;\n\n// Get user query results from Notion\nconst users = $input.all();\nconst hasValidUser = users.length > 0 && users[0].json && users[0].json.id;\n\nlet isAdmin = false;\nif (hasValidUser) {\n  const user = users[0].json;\n  // Robust property getter\n  isAdmin = (user.properties?.['is_admin']?.checkbox ?? user.property_is_admin ?? false);\n}\n\n// Return event with admin flag as array\nreturn [{\n  json: {\n    ...originalEvent,\n    _is_admin: isAdmin\n  }\n}];"
      },
      "id": "97b6dc58-c544-44c3-addf-6c90398c5649",
      "name": "Extract Admin For Auto Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87696,
        94816
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e44dbf2-e21c-80d1-af81-c3b61579b3bb",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://www.notion.so/2e44dbf2e21c80d1af81c3b61579b3bb"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "user_id|title",
              "condition": "equals",
              "titleValue": "={{ $('is command').item.json.source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0588abb5-9af5-4b79-81e8-a40afab7f61c",
      "name": "Check Admin Before Auto Reply",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87472,
        94816
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get original event from 'is command'\nconst originalEvent = $(\"is command\").item.json;\n\n// Get user query results from Notion\nconst users = $input.all();\nconst hasValidUser = users.length > 0 && users[0].json && users[0].json.id;\n\nlet isAdmin = false;\nif (hasValidUser) {\n  const user = users[0].json;\n  // Robust property getter\n  isAdmin = (user.properties?.['is_admin']?.checkbox ?? user.property_is_admin ?? false);\n}\n\n// Merge admin status into event and return as array\nreturn [{\n  json: {\n    ...originalEvent,\n    _is_admin: isAdmin\n  }\n}];"
      },
      "id": "a8c9c510-21ff-43e4-853c-16ecf6eee219",
      "name": "Merge Admin Into Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        85456,
        93840
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e44dbf2-e21c-80d1-af81-c3b61579b3bb",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://www.notion.so/2e44dbf2e21c80d1af81c3b61579b3bb"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "user_id|title",
              "condition": "equals",
              "titleValue": "={{ $('is command').item.json.source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "35c40980-0669-4001-99d9-36c06ccf8a28",
      "name": "取得使用者表 (lazy)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        85232,
        93840
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {},
      "id": "eef17d96-ce48-498f-b2a8-54e0ce48af3a",
      "name": "Merge User Management",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        85904,
        92080
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "message_counts|number",
              "numberValue": "={{ \n(() => {\n  if ($('Check User Source').item.json.type === 'message') {\n    return $json.currentMessageCount + 1\n  }\n  else {\n    return $json.currentMessageCount\n  }\n})()\n}}"
            },
            {
              "key": "groups|multi_select",
              "multiSelectValue": "={{ $json.updatedGroups }}"
            },
            {
              "key": "multi-chat|multi_select",
              "multiSelectValue": "={{ $json.updatedMultiChat }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2db91a9-5208-4252-95d6-555f771bdaf7",
      "name": "更新使用者",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        85680,
        92032
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 準備更新資料\nconst data = $json;\nconst currentGroups = data.currentGroups || [];\nconst currentMultiChat = data.currentMultiChat || [];\nconst groupId = data.currentGroupId;\nconst roomId = data.currentRoomId;\n\n// 分別處理 groups 和 multi-chat（去重）\nlet updatedGroups = [...currentGroups];\nlet updatedMultiChat = [...currentMultiChat];\n\n// 如果來自群組，更新 groups\nif (groupId && !updatedGroups.includes(groupId)) {\n  updatedGroups.push(groupId);\n}\n\n// 如果來自聊天室，更新 multi-chat\nif (roomId && !updatedMultiChat.includes(roomId)) {\n  updatedMultiChat.push(roomId);\n}\n\nreturn {\n  ...data,\n  updatedGroups: updatedGroups,\n  updatedMultiChat: updatedMultiChat\n};"
      },
      "id": "af178266-0288-4ecf-b2f6-fd2b7f7e6631",
      "name": "Prepare Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        85456,
        92032
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "user-exists-check",
              "leftValue": "={{ $json.userExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e19a1d20-c48e-4046-97f0-964d77c22584",
      "name": "User Exists Switch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        85232,
        92080
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const users = $('取得使用者表').all();\nconst source = $('Check User Source').item.json.source;\nconst sourceUserId = source.userId;\n\n// 分別取得 groupId 和 roomId\nconst currentGroupId = source.groupId || null;\nconst currentRoomId = source.roomId || null;\n\n// 檢查是否有有效的使用者資料\nconst hasValidUser = users.length > 0 && users[0].json && users[0].json.id;\n\nif (!hasValidUser) {\n  return {\n    userExists: false,\n    userId: sourceUserId,\n    currentGroupId: currentGroupId,\n    currentRoomId: currentRoomId\n  };\n}\n\n// 使用者存在，返回使用者資料\nconst user = users[0].json;\n\n// Robust property getters\nconst getNumber = (item, key) => (item.properties?.[key]?.number || item[`property_${key.toLowerCase()}`] || 0);\nconst getMultiSelect = (item, key) => (item.properties?.[key]?.multi_select?.map(s => s.name) || item[`property_${key.toLowerCase()}`] || []);\n\nreturn {\n  userExists: true,\n  userId: sourceUserId,\n  notionPageId: user.id,\n  currentMessageCount: getNumber(user, 'message_counts'),\n  currentGroups: getMultiSelect(user, 'groups'),\n  currentMultiChat: getMultiSelect(user, 'multi-chat'),\n  currentGroupId: currentGroupId,\n  currentRoomId: currentRoomId\n};"
      },
      "id": "0606b2fa-760c-4984-afc9-24ffc000749e",
      "name": "Check User Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        85008,
        92080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-user-source-id",
              "leftValue": "={{ $json.source.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ca2961c-d6fc-4b7b-b91a-0adb12e0cd3c",
      "name": "Check User Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        84560,
        93552
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2e44dbf2-e21c-80d1-af81-c3b61579b3bb",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://www.notion.so/2e44dbf2e21c80d1af81c3b61579b3bb"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "user_id|title",
              "title": "={{ $json.userId }}"
            },
            {
              "key": "is_admin|checkbox"
            },
            {
              "key": "message_counts|number",
              "numberValue": "={{ \n(() => {\n  if ($('Check User Source').item.json.type === 'message') {\n    return 1\n  }\n  else {\n    return 0\n  }\n})()\n}}"
            },
            {
              "key": "Custom Name|rich_text"
            },
            {
              "key": "multi-chat|multi_select",
              "multiSelectValue": "={{ $json.currentRoomId ? [$json.currentRoomId] : [] }}"
            },
            {
              "key": "groups|multi_select",
              "multiSelectValue": "={{ $json.currentGroupId ? [$json.currentGroupId] : [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "379530d5-dc1d-495d-a731-e14bc0da04c2",
      "name": "新增使用者",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        85680,
        92224
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e44dbf2-e21c-80d1-af81-c3b61579b3bb",
          "mode": "list",
          "cachedResultName": "USERS",
          "cachedResultUrl": "https://www.notion.so/2e44dbf2e21c80d1af81c3b61579b3bb"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "user_id|title",
              "condition": "equals",
              "titleValue": "={{ $('Check User Source').item.json.source.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "604379b3-a932-4982-81b6-8d21961f9910",
      "name": "取得使用者表",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        84784,
        92080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blocks = $('歡迎訊息 child blocks').all().map(item => item.json);\nconst webhookData = $('Webhook').first().json;\nconst joinedUserId = webhookData.body.events[0].joined.members[0].userId;\nconst managerId = \"U2a0a2c5054c4fa12b78a1d059411e39c\";\n\nconst validBlocks = blocks.filter(b => b.content && b.content.trim() !== \"\");\nlet templateText = validBlocks.map(b => {\n    if (b.type === 'bulleted_list_item') {\n        return `• ${b.content}`;\n    }\n    return b.content;\n}).join('\\n');\n\nif (!templateText) templateText = \"歡迎！ (Welcome Message Empty)\";\n\n// 建立 substitution 物件（使用 textV2 格式）\nconst substitution = {};\n\nif (templateText.includes('{NEW_FRIEND}')) {\n    substitution.NEW_FRIEND = {\n        type: \"mention\",\n        mentionee: {\n            type: \"user\",\n            userId: joinedUserId\n        }\n    };\n}\n\nif (templateText.includes('{MANAGER}')) {\n    substitution.MANAGER = {\n        type: \"mention\",\n        mentionee: {\n            type: \"user\",\n            userId: managerId\n        }\n    };\n}\n\nconst result = {\n    type: \"textV2\",\n    text: templateText\n};\n\nif (Object.keys(substitution).length > 0) {\n    result.substitution = substitution;\n}\n\nreturn result;"
      },
      "id": "39c42fc0-3bee-4246-98eb-e099a89e96c6",
      "name": "Welcome Message Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        95008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81216503-6239-4467-bc6d-06839d375001",
              "leftValue": "={{ $json.source.type }}",
              "rightValue": "group",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "713f0393-789a-4c2f-bfa4-76b3c6606368",
              "leftValue": "={{ $json.source.type }}",
              "rightValue": "room",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "fbd63909-575c-47a8-98d0-e53f7cc00b65",
      "name": "Join Source Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        87696,
        95008
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.type }}",
        "rules": {
          "rules": [
            {
              "value2": "message"
            },
            {
              "value2": "join",
              "output": 1
            },
            {
              "value2": "memberJoined",
              "output": 1
            }
          ]
        }
      },
      "id": "06575305-1ea7-422a-85cb-e9db1da4449a",
      "name": "Event Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        84784,
        93968
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "id": "a9256778-a73f-48c2-95ba-dcd9fa10011e",
      "name": "歡迎訊息 child blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        95008
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e24dbf2-e21c-80b7-83f6-ef99c1dd9425",
          "mode": "list",
          "cachedResultName": "所有公告",
          "cachedResultUrl": "https://www.notion.so/2e24dbf2e21c80b783f6ef99c1dd9425"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "WELCOME_MESSAGE"
            }
          ]
        },
        "options": {}
      },
      "id": "e4b4dfa9-a08e-4cbf-bce4-b020b970005b",
      "name": "取得歡迎訊息",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87920,
        95008
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-url-check",
              "leftValue": "={{ $('Webhook').first().json.webhookUrl }}",
              "rightValue": "webhook-test",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b27c4ec-789a-499c-a075-d477f94deab9",
      "name": "判斷 webhook url",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        88816,
        93520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replyToken",
              "value": "={{ $json.replyToken }}"
            },
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "notificationDisabled",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7cdcf6e-1741-4725-9992-b8b6cae17fa3",
      "name": "reply 球來就打 (lab)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        89040,
        93424
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EeeK58MFzM1kWVEe",
          "name": "Line 球來就打"
        },
        "httpBearerAuth": {
          "id": "uGKHMBQPiLQEmUFP",
          "name": "Line Dobby Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replyToken",
              "value": "={{ $json.replyToken }}"
            },
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "notificationDisabled",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2c5c0f11-65ec-4734-a390-fd654ac6abc1",
      "name": "reply Dobby",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        89040,
        93616
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AXXATrQhz9xpUGTR",
          "name": "Line Dobby"
        },
        "httpBearerAuth": {
          "id": "uGKHMBQPiLQEmUFP",
          "name": "Line Dobby Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Split Out').first().json.message.text || '';\nconst quoteToken = $('Split Out').first().json.message.quoteToken;\nconst replyItems = $input.all().map(item => item.json);\n\n// Robust property getters\nconst getName = (item) => (item.properties?.['name']?.title?.[0]?.plain_text || item.name || '');\nconst getReply = (item) => (item.properties?.['reply']?.rich_text?.[0]?.plain_text || item.property_reply || '');\n\n// 檢查使用者訊息是否包含任一 name\nfor (const item of replyItems) {\n    const name = getName(item);\n    if (name && userMessage.includes(name)) {\n        return {\n            type: 'text',\n            text: getReply(item),\n            quoteToken: quoteToken\n        };\n    }\n}\n\n// 如果沒有匹配，不輸出任何東西（不回覆）\nreturn [];"
      },
      "id": "bba0dbd7-63bc-4040-a589-b337beb9c69c",
      "name": "Auto Reply Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        94816
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2f14dbf2-e21c-80c4-824f-dda80a04e6b3",
          "mode": "list",
          "cachedResultName": "TEXT_REPLY",
          "cachedResultUrl": "https://www.notion.so/2f14dbf2e21c80c4824fdda80a04e6b3"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "c21c0896-d4f3-4b9d-bcba-5b7f2887d68c",
      "name": "取得 auto reply message",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        94816
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blocks = $('付款資訊 child blocks').all().map(item => item.json);\nconst quoteToken = $('Split Out').first().json.message.quoteToken;\n\nconst validBlocks = blocks.filter(b => b.content && b.content.trim() !== \"\");\nlet templateText = validBlocks.map(b => {\n    if (b.type === 'bulleted_list_item') {\n        return `• ${b.content}`;\n    }\n    return b.content;\n}).join('\\n');\n\nif (!templateText) templateText = \"目前沒有付款資訊 (PAYMENT Empty)\";\n\nreturn {\n    \"type\": \"text\",\n    \"text\": templateText,\n    \"quoteToken\": quoteToken\n};"
      },
      "id": "10d321e5-da8c-49cd-8994-65a238779b8e",
      "name": "Payment Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        93184
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "id": "aa7afd5a-d41f-43d6-addb-45df44b00295",
      "name": "付款資訊 child blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        93184
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e24dbf2-e21c-80b7-83f6-ef99c1dd9425",
          "mode": "list",
          "cachedResultName": "所有公告",
          "cachedResultUrl": "https://www.notion.so/2e24dbf2e21c80b783f6ef99c1dd9425"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "PAYMENT"
            }
          ]
        },
        "options": {}
      },
      "id": "6b3f1b63-c317-4225-a94f-96866cf73187",
      "name": "取得付款資訊",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87920,
        93184
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "simple": false,
        "filterType": "json",
        "filterJson": "{}",
        "options": {}
      },
      "id": "71f0d39c-5981-43ee-b220-63e2b2e8f2f9",
      "name": "Get People for Announce",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87472,
        92224
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "0fd76b77-9f07-4aa3-a3c9-12ba18dbe32e",
          "mode": "list",
          "cachedResultName": "行事曆",
          "cachedResultUrl": "https://www.notion.so/0fd76b779f074aa3a3c912ba18dbe32e"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季度|relation",
              "condition": "contains",
              "relationValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c3a48cd-7353-4968-9948-445b475d32a5",
      "name": "Get Calendar for Announce",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87472,
        92032
      ],
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "7deede34-579d-4c77-b79b-20b9f4f000e7",
          "mode": "list"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季租時段|title",
              "condition": "equals",
              "titleValue": "={{ $json.targetQuarter }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7327aef8-0fd2-419f-9cab-b8276111aace",
      "name": "Get Season Info for Announce",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87248,
        92032
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getNextSaturday () {\n  const now = DateTime.now(); \n  const currentWeekday = now.weekday; \n  const daysUntilSaturday = ((6 - currentWeekday + 7) % 7) || 7; \n  const nextSaturday = now.plus({ days: daysUntilSaturday });\n  return nextSaturday\n}\n\nfunction getNextSaturdayQuarter() {\n  const nextSaturday = getNextSaturday()\n  const year = nextSaturday.year;\n  const quarter = nextSaturday.quarter; \n  return `${year}-Q${quarter}`; \n}\n\nreturn {\n  targetQuarter: getNextSaturdayQuarter()\n}"
      },
      "id": "a7edbf75-d27c-40d3-92fc-1b0e3ea2db72",
      "name": "Announce Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87024,
        92304
      ]
    },
    {
      "parameters": {
        "jsCode": "const blocks = $('最新公告 child blocks').all().map(item => item.json);\nconst seasonPage = $('Get Season Info for Announce').first().json;\nconst calendarPages = $('Get Calendar for Announce').all().map(item => item.json);\nconst peopleList = $('Get People for Announce').all().map(item => item.json);\n\nconst quoteToken = $('Split Out').first().json.message.quoteToken;\n\n// Validate Data\nif (!seasonPage) {\n    return {\n        type: \"text\",\n        text: \"❌ 找不到本季季度資料\",\n        quoteToken: quoteToken\n    };\n}\n\n// --- Helper: People Map ---\nconst peopleMap = new Map();\npeopleList.forEach(p => peopleMap.set(p.id, p));\n\nfunction getPersonName(id) {\n    const p = peopleMap.get(id);\n    if (!p) return \"Unknown\";\n    return p.properties['Name']?.title?.[0]?.plain_text || p.name || \"Unknown\";\n}\n\n// --- Prepare Variables ---\n\n// {SEASON}\nconst SEASON = seasonPage.properties['季租時段']?.title?.[0]?.plain_text || \"Unknown-Quarter\";\n\n// {FROM_TO_MONTH}\nlet FROM_TO_MONTH = \"\";\nif (SEASON.includes(\"Q1\")) FROM_TO_MONTH = \"1~3月\";\nelse if (SEASON.includes(\"Q2\")) FROM_TO_MONTH = \"4~6月\";\nelse if (SEASON.includes(\"Q3\")) FROM_TO_MONTH = \"7~9月\";\nelse if (SEASON.includes(\"Q4\")) FROM_TO_MONTH = \"10~12月\";\n\n// {TOTAL_PEOPLE}\nconst TOTAL_PEOPLE = seasonPage.properties['報名人數']?.formula?.number || 0;\n\n// {LIST_ALL_PEOPLE}\nconst relations = seasonPage.properties['報名人']?.relation || [];\nconst LIST_ALL_PEOPLE = relations.map(r => getPersonName(r.id)).join(\"、\");\n\n// {PRICE_PER_PERSON_FOR_SEASON}\nconst PRICE_PER_PERSON_FOR_SEASON = seasonPage.properties['每人平均場租']?.formula?.number || 0;\n\n// {PRICE_PER_PERSON_FOR_ONCE}\nconst PRICE_PER_PERSON_FOR_ONCE = seasonPage.properties['零打費用']?.number || 0;\n\n// {COURT_COUNT}\nconst COURT_COUNT = seasonPage.properties['場地數']?.number || 0;\n\n// {TOTAL_PRICE}\nconst TOTAL_PRICE = seasonPage.properties['場租總金額']?.formula?.number || 0;\n\n// {LOCATION}\nconst LOCATION = seasonPage.properties['地點']?.rich_text?.[0]?.plain_text || \n               seasonPage.properties['地點']?.select?.name || \"未知地點\";\n\n// Filter active play dates (exclude paused)\nconst activeCalendarPages = calendarPages.filter(p => {\n    const type = p.properties['類型']?.select?.name;\n    return type !== '暫停';\n});\n\n// {WEEK_COUNTS}\nconst WEEK_COUNTS = activeCalendarPages.length;\n\n// {LIST_ALL_DATES}\n// Sort by date first\nactiveCalendarPages.sort((a, b) => {\n    const da = a.properties['時間']?.date?.start || \"\";\n    const db = b.properties['時間']?.date?.start || \"\";\n    return da.localeCompare(db);\n});\n\nconst datesByMonth = {};\nactiveCalendarPages.forEach(p => {\n    const dateStr = p.properties['時間']?.date?.start;\n    if (!dateStr) return;\n    const dt = DateTime.fromISO(dateStr);\n    const monthKey = dt.toFormat(\"MM\");\n    const dayStr = dt.toFormat(\"M/dd\");\n    \n    if (!datesByMonth[monthKey]) datesByMonth[monthKey] = [];\n    datesByMonth[monthKey].push(dayStr);\n});\n\nconst LIST_ALL_DATES = Object.keys(datesByMonth).sort().map(m => {\n    return datesByMonth[m].join(\", \");\n}).join(\"\\n\");\n\n\n// --- Construct Template ---\nconst validBlocks = blocks.filter(b => b.content && b.content.trim() !== \"\");\nlet templateText = validBlocks.map(b => {\n    if (b.type === 'bulleted_list_item') {\n        return `• ${b.content}`;\n    }\n    return b.content;\n}).join('\\n');\n\nif (!templateText) templateText = \"目前沒有公告 (NEW_TEMPLATE Empty)\";\n\n// --- Replace Placeholders ---\nlet finalText = templateText;\nfinalText = finalText.replace(/{SEASON}/g, SEASON);\nfinalText = finalText.replace(/{FROM_TO_MONTH}/g, FROM_TO_MONTH);\nfinalText = finalText.replace(/{TOTAL_PEOPLE}/g, TOTAL_PEOPLE);\nfinalText = finalText.replace(/{LIST_ALL_PEOPLE}/g, LIST_ALL_PEOPLE);\nfinalText = finalText.replace(/{PRICE_PER_PERSON_FOR_SEASON}/g, PRICE_PER_PERSON_FOR_SEASON);\nfinalText = finalText.replace(/{WEEK_COUNTS}/g, WEEK_COUNTS);\nfinalText = finalText.replace(/{PRICE_PER_PERSON_FOR_ONCE}/g, PRICE_PER_PERSON_FOR_ONCE);\nfinalText = finalText.replace(/{COURT_COUNT}/g, COURT_COUNT);\nfinalText = finalText.replace(/{TOTAL_PRICE}/g, TOTAL_PRICE);\nfinalText = finalText.replace(/{LIST_ALL_DATES}/g, LIST_ALL_DATES);\nfinalText = finalText.replace(/{LOCATION}/g, LOCATION);\n\nreturn {\n    \"type\": \"text\",\n    \"text\": finalText,\n    \"quoteToken\": quoteToken\n};"
      },
      "name": "Latest Announcement Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        92400
      ],
      "id": "a7f2af97-d07a-4e72-af94-efe62e5499bb"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "id": "49418cb1-8d22-4305-a7e8-310f8b00dd02",
      "name": "最新公告 child blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87696,
        92416
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2e24dbf2-e21c-80b7-83f6-ef99c1dd9425",
          "mode": "list",
          "cachedResultName": "所有公告",
          "cachedResultUrl": "https://www.notion.so/2e24dbf2e21c80b783f6ef99c1dd9425"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "titleValue": "NEWS_TEMPLATE"
            }
          ]
        },
        "options": {}
      },
      "id": "c0f424b2-5d85-4127-a293-9992c40396d6",
      "name": "取得最新公告",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87472,
        92416
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {},
      "id": "2b1d0b4a-9ae2-4cef-93aa-a860604fd44e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        87248,
        94080
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "display-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby next",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Display"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "registration-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Registration"
            }
          ]
        },
        "options": {}
      },
      "id": "c97b2016-b57d-4c3b-8a4e-d5201bda2a92",
      "name": "Flow Router (People)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        87024,
        94320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "display-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby next",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Display"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "registration-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Registration"
            }
          ]
        },
        "options": {}
      },
      "id": "d3bb4be2-ee73-463b-bf15-93936ad9c006",
      "name": "Flow Router (Next)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        87024,
        94032
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "報名季度|relation",
              "condition": "contains",
              "relationValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a969fb00-41ea-4d81-84de-f13940c7cc91",
      "name": "Get People Next",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        86800,
        94320
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seasonPage = $('Get Season Info Custom').first().json;\n// Optimize: Create a map for O(1) lookup\nconst peopleMap = new Map();\n$input.all().forEach(item => {\n    peopleMap.set(item.json.id, item.json);\n});\n\nconst quoteToken = $('Split Out').first().json.message.quoteToken;\n\nif (!seasonPage) {\n    return {\n        \"type\": \"text\",\n        \"text\": \"❌ 找不到季度資料\",\n        \"quoteToken\": quoteToken\n    };\n}\n\nconst quarterTitle = seasonPage.properties['季租時段']?.title?.[0]?.plain_text || \"未知季度\";\nconst relations = seasonPage.properties['報名人']?.relation || [];  \n\nif (relations.length === 0) {\n     return {\n        \"type\": \"text\",\n        \"text\": `🏸 ${quarterTitle} 尚無報名資料`,\n        \"quoteToken\": quoteToken\n    };\n}\n\nconst participantIds = relations.map(r => r.id);\nconst names = [];\n\nfor (const id of participantIds) {\n    const person = peopleMap.get(id); \n    let name = \"Unknown\";\n    if (person) {\n         if (person.properties?.['Name']?.title?.[0]?.plain_text) {\n             name = person.properties['Name'].title[0].plain_text;\n         } else if (person.name) {\n             name = person.name;\n         }\n    }\n    names.push(name);\n}\n\nreturn {\n    \"type\": \"text\",\n    \"text\": `🏸 ${quarterTitle} 報名名單 (${names.length}人)：\\n\\n${names.join('、')}`,\n    \"quoteToken\": quoteToken\n};"
      },
      "id": "f0e1813d-1a37-4820-ab80-ad7a494387a7",
      "name": "Match Participants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        94528
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "simple": false,
        "filterType": "json",
        "filterJson": "{}",
        "options": {}
      },
      "id": "e2290543-a68b-47bf-9dce-eeb75ac0a1a2",
      "name": "Get All People Global",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        94528
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "7deede34-579d-4c77-b79b-20b9f4f000e7",
          "mode": "list",
          "cachedResultName": "季租承租紀錄",
          "cachedResultUrl": "https://www.notion.so/7deede34579d4c77b79b20b9f4f000e7"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季租時段|title",
              "condition": "equals",
              "titleValue": "={{ $json.targetQuarter }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27ae01f0-0f01-4f4e-bf03-aa017db3f63c",
      "name": "Get Season Info Custom",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        87920,
        94528
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getQuarter(date) {\n  const year = date.year;\n  const quarter = date.quarter;\n  return `${year}-Q${quarter}`;\n}\n\n// Use $json directly in runOnceForEachItem mode\nconst text = $json.message.text;\nlet arg = text.replace(/^@Dobby\\s+(participants|people|報名人)\\s*/i, '').trim();\n\nlet targetQuarter;\nif (arg) {\n    targetQuarter = arg.toUpperCase();\n} else {\n    targetQuarter = getQuarter(DateTime.now());\n}\n\nreturn {\n    targetQuarter\n}"
      },
      "id": "6b35b79c-76a8-4bc2-b0a4-1c333d32a338",
      "name": "Season Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87696,
        94528
      ]
    },
    {
      "parameters": {
        "jsCode": "const quarterInfo = $('取得該季資訊').first().json;\nconst metadata = $('metadata').first().json;\n\n// Robust property getters\nconst getNumber = (item, key) => (item.properties?.[key]?.number || item[`property_${key.toLowerCase()}`] || 0);\nconst getFormulaNumber = (item, key) => (item.properties?.[key]?.formula?.number || item[`property_${key.toLowerCase()}`] || 0);\nconst getName = (item) => (item.properties?.['Name']?.title?.[0]?.plain_text || item.property_name || item.name);\nconst getDate = (item) => (item.properties?.['時間']?.date?.start || (typeof item.property_時間 === 'string' ? item.property_時間 : item.property_時間?.start));\n\n// 從不同來源彙整資訊\nconst quarterData = {\n  fee: getNumber(quarterInfo, '零打費用') || metadata.price,\n  memberCount: getFormulaNumber(quarterInfo, '報名人數') || 0,\n  defaultCourts: metadata.courts // Fallback to metadata if not in Quarter DB\n};\n\n// 取得當前節點 (Event) 的資料\nconst targetDate = metadata.nextSaturdayDateText;\nconst allEvents = $('取得打球日').all().map(item => item.json);\n\nconst eventPage = allEvents.find(page => {\n  const startTime = getDate(page);\n  return startTime && startTime.startsWith(targetDate);\n});\n\nif (!eventPage) {\n  return [\n    {\n      \"type\": \"text\",\n      \"text\": `⚠️ 找不到 ${targetDate} 的打球日活動。\\n請確認 Notion 行事曆是否已建立該日期的頁面。`\n    }\n  ];\n}\n\n// Get People Map\nconst peopleData = $('Get People Next').all().map(item => item.json);\nconst peopleMap = new Map();\npeopleData.forEach(p => peopleMap.set(p.id, p));\n\nconst eventData = {\n  type: eventPage.properties?.['類型']?.select?.name || eventPage.property_類型,\n  timeStart: getDate(eventPage),\n  courtOverride: getNumber(eventPage, '場地數'),\n  absenteesRelations: eventPage.properties?.['請假人']?.relation || eventPage.property_請假人 || [],\n  absenteesCount: (eventPage.properties?.['請假人']?.relation?.length ?? eventPage.property_請假人?.length ?? 0)\n};\n\n// 1. 檢查是否暫停\nif (eventData.type && eventData.type.includes('暫停')) {\n  return [\n    {\n      \"type\": \"text\",\n      \"text\": `📅 ${targetDate}\\n\\n🛑 本週打球暫停 (Suspended)\\n休息是為了走更長遠的路！`\n    }\n  ];\n}\n\n// 2. 計算邏輯\n// 場地數：優先使用 Event Override，否則使用 Quarter Default (or Metadata default)\nconst finalCourts = eventData.courtOverride || quarterData.defaultCourts;\nconst courtsDensity = 7; // 每面場地 7 人\n\n// 總請假人數：Event 紀錄的請假人 + 指令參數額外扣除的 (metadata.offCounts)\nconst manualOffCounts = Number(metadata.offCounts) || 0;\nconst totalAbsentees = eventData.absenteesCount + manualOffCounts;\n\n// Resolve Names\nconst absenteeNames = eventData.absenteesRelations.map(r => {\n    const id = r.id || r;\n    const person = peopleMap.get(id);\n    return getName(person || {});\n}).filter(n => n);\n\nconst leaveString = absenteeNames.length > 0 ? `請假：${absenteeNames.join(', ')}` : `請假：無`;\n\n// 應到人數 (季租 - 請假)\nconst expectedMembers = quarterData.memberCount - totalAbsentees;\n\n// 零打名額 (Total Slots - Expected Members)\nconst totalSlots = finalCourts * courtsDensity;\nconst availableSlots = Math.max(0, totalSlots - expectedMembers);\n\n// 3. 格式化輸出\nconst dateStr = eventData.timeStart ? eventData.timeStart.split('T')[0] : targetDate;\n\nfunction generateNumberedListString(number) {\n  if (number <= 0) return '(無名額)';\n  const lines = [];\n  for (let i = 1; i <= number; i++) {\n    lines.push(`${i}.`);\n  }\n  return lines.join('\\n');\n}\n\nreturn [\n  {\n    \"type\":\"text\",\n    \"text\":[\n      `${dateStr} 不能到請喊聲`,\n      leaveString,\n      `場地：${finalCourts} 面`,\n      `應到：${expectedMembers} 人`,\n      `零打名額：${availableSlots}人 $${quarterData.fee}/人`\n    ].join('\\n')\n  },\n  {\n    \"type\":\"text\",\n    \"text\":[\n      `${dateStr}`,\n      `零打名額 ${availableSlots} 人 | $${quarterData.fee}/人`, \n      `${generateNumberedListString(availableSlots)}`\n    ].join('\\n')\n  }\n];"
      },
      "id": "dff74202-fd7d-4d39-a2d5-0dfe30f7fdc0",
      "name": "下次打球 v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87472,
        94208
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "0fd76b77-9f07-4aa3-a3c9-12ba18dbe32e",
          "mode": "list",
          "cachedResultName": "行事曆",
          "cachedResultUrl": "https://www.notion.so/0fd76b779f074aa3a3c912ba18dbe32e"
        },
        "simple": false,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({ and: [{ property: '時間', date: { equals: $json.nextSaturdayDateText } }] }) }}",
        "options": {}
      },
      "id": "560a7652-79ed-4f17-91a9-be02ec74f658",
      "name": "取得打球日",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        86800,
        94032
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quoteToken = $('Split Out').all().map(item => item.json.message.quoteToken)[0]\n\nreturn [\n  {\n    \"type\":\"text\",\n    \"text\":[\n      '🛠️ 指令列表',\n      '----------',\n      '（提醒：中文請用全形）',\n      '',\n      '【查詢類】',\n      '1) 未繳費名單',\n      '@Dobby owe',\n      '@Dobby 欠',\n      '',\n      '2) 查看指令列表（本頁）',\n      '@Dobby command',\n      '@Dobby 指令',\n      '',\n      '3) 查詢季度報名人',\n      '@Dobby participants',\n      '@Dobby 報名人',\n      '別名：@Dobby people',\n      '',\n      '4) 查詢最新公告',\n      '@Dobby news',\n      '@Dobby 公告',\n      '別名：@Dobby announcement',\n      '',\n      '5) 查詢付款資訊',\n      '@Dobby payment',\n      '@Dobby 付款',\n      '',\n      '【報名 / 請假類】',\n      '1) 報名零打（1 位）',\n      '@Dobby +1',\n      '',\n      '2) 報名兩位（2 位）',\n      '@Dobby +2',\n      '',\n      '3) 取消報名',\n      '@Dobby -1',\n      '',\n      '4) 季租成員請假',\n      '@Dobby 假',\n      '',\n      '5) 季租成員銷假',\n      '@Dobby 銷假',\n    ].join('\\n'),\n    \"quoteToken\": quoteToken,\n    \"quickReply\": {\n      \"items\": [\n        {\n          \"type\": \"action\",\n          \"action\": {\n            \"type\": \"message\",\n            \"label\": \"未繳費名單\",\n            \"text\": \"@Dobby owe\"\n          }\n        },\n        {\n          \"type\": \"action\",\n          \"action\": {\n            \"type\": \"message\",\n            \"label\": \"指令列表\",\n            \"text\": \"@Dobby command\"\n          }\n        },\n        {\n          \"type\": \"action\",\n          \"action\": {\n            \"type\": \"message\",\n            \"label\": \"季度報名人\",\n            \"text\": \"@Dobby participants\"\n          }\n        },\n        {\n           \"type\": \"action\",\n           \"action\": {\n             \"type\": \"message\",\n             \"label\": \"最新公告\",\n             \"text\": \"@Dobby news\"\n           }\n        },\n        {\n           \"type\": \"action\",\n           \"action\": {\n             \"type\": \"message\",\n             \"label\": \"付款資訊\",\n             \"text\": \"@Dobby payment\"\n           }\n        }\n      ]\n    }\n  }\n]"
      },
      "id": "9027624e-fedf-45fc-ac4f-baeb57891278",
      "name": "指令列表 message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        92800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ [\"@Dobby 欠\", \"@Dobby owe\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "5262e45f-c423-4422-bbab-a582c41e003b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "未繳費名單"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59f498ff-7248-4bc5-ae95-c79839c4d9c5",
                    "leftValue": "={{ [\"@Dobby command\", \"@Dobby 指令\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "指令列表"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "season-rule-id",
                    "leftValue": "={{ [\"@Dobby participants\", \"@Dobby people\", \"@Dobby 報名人\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "季度報名人"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "news-rule-id",
                    "leftValue": "={{ [\"@Dobby news\", \"@Dobby announcement\", \"@Dobby 公告\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "最新公告"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "payment-rule-id",
                    "leftValue": "={{ [\"@Dobby payment\", \"@Dobby 付款\"] }}",
                    "rightValue": "={{ $('active').item.json.message.text }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "付款資訊"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dobby-reg-add-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby +",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  },
                  {
                    "id": "dobby-reg-sub-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby -",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  },
                  {
                    "id": "dobby-reg-leave-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby 假",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  },
                  {
                    "id": "dobby-reg-unleave-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby 銷假",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  },
                  {
                    "id": "dobby-reg-add-full-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby ＋",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  },
                  {
                    "id": "dobby-reg-sub-full-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby －",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  },
                  {
                    "id": "dobby-proxy-command-id",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby @",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "報名請假"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dobby-intro-id",
                    "leftValue": "={{ $('active').item.json.message.text.trim() }}",
                    "rightValue": "@Dobby",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dobby Intro"
            }
          ]
        },
        "options": {}
      },
      "id": "0a420c1d-0ec8-4fce-b615-25fda5e7ccf2",
      "name": "Command controller",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        85904,
        92912
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dobby-prefix-id",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "@Dobby",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "90cd99cb-af26-40f7-88c8-a674f9796574",
      "name": "is command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        85008,
        93904
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getNextSaturday () {\n  const now = DateTime.now(); \n  const currentWeekday = now.weekday; \n  const daysUntilSaturday = ((6 - currentWeekday + 7) % 7) || 7; \n  const nextSaturday = now.plus({ days: daysUntilSaturday });\n  return nextSaturday\n}\n\nfunction getNextSaturdayQuarter() {\n  const nextSaturday = getNextSaturday()\n  const year = nextSaturday.year;\n  const quarter = nextSaturday.quarter; \n  return `${year}-Q${quarter}`; \n}\n\nfunction getNextSaturdayDateText () {\n  const nextSaturday = getNextSaturday()\n  return nextSaturday.toFormat('yyyy-MM-dd')\n}\n\nreturn {\n  nextSaturdayQuarter: getNextSaturdayQuarter(),\n  nextSaturdayDateText: getNextSaturdayDateText(),\n}"
      },
      "id": "8cd3134e-b321-4640-b1a7-a0162e358719",
      "name": "metadata1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87920,
        92608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18fbd263-5f9a-42f8-9d26-e4fe973b4135",
                    "leftValue": "={{ $('active').item.json.message.text }}",
                    "rightValue": "@Dobby next",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "下一次的通知"
            }
          ]
        },
        "options": {}
      },
      "id": "b06d911f-f96b-47cc-8de6-f514e4575ef8",
      "name": "Manager rules",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        86128,
        94672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc929aeb-b84a-4007-9838-9c3f91500ff3",
              "leftValue": "={{ $json._is_admin }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16828296-0dee-459d-94cd-e6c0904b7864",
      "name": "if this user is manager",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        85680,
        93840
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function getNextSaturday () {\n  const now = DateTime.now(); \n  const currentWeekday = now.weekday; \n  const daysUntilSaturday = ((6 - currentWeekday + 7) % 7) || 7; \n  const nextSaturday = now.plus({ days: daysUntilSaturday });\n  return nextSaturday\n}\n\nfunction getNextSaturdayQuarter() {\n  const nextSaturday = getNextSaturday()\n  const year = nextSaturday.year;\n  const quarter = nextSaturday.quarter; \n  return `${year}-Q${quarter}`; \n}\n\nfunction getNextSaturdayDateText () {\n  const nextSaturday = getNextSaturday()\n  return nextSaturday.toFormat('yyyy-MM-dd')\n}\n\nconst event = $json.message ? $json : $(\"active\").item.json;\nconst text = event.message?.text || '';\nconst queryIndex = text.indexOf('?');\nlet params = {};\n\nif (queryIndex !== -1) {\n  const queryString = text.substring(queryIndex + 1);\n  // URLSearchParams handles parsing efficiently\n  const urlParams = new URLSearchParams(queryString);\n  params = Object.fromEntries(urlParams.entries());\n}\n\nconst DEFAULT_OFF_COUNTS = 0\nconst DEFAULT_COURT = 2\nconst DEFAULT_PRICE = 170\n\nreturn {\n  nextSaturdayQuarter: getNextSaturdayQuarter(),\n  nextSaturdayDateText: getNextSaturdayDateText(),\n  offCounts: params['-'] ?? DEFAULT_OFF_COUNTS,\n  courts: params['c'] ?? DEFAULT_COURT,\n  price: DEFAULT_PRICE\n}"
      },
      "id": "00b7748c-d591-44b8-9113-5af186b0a60e",
      "name": "metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        86352,
        94208
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "7deede34-579d-4c77-b79b-20b9f4f000e7",
          "mode": "list",
          "cachedResultName": "季租承租紀錄",
          "cachedResultUrl": "https://www.notion.so/7deede34579d4c77b79b20b9f4f000e7"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "季租時段|title",
              "condition": "equals",
              "titleValue": "={{ $json.nextSaturdayQuarter }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4b1083c-6fa4-4d5d-8085-95227af7f9db",
      "name": "取得該季資訊",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        86576,
        94320
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevNodeName = $prevNode.name\n\nconst messages = $input.all().map(item => item.json)\n\nconst replyToken = $('active').all()[$runIndex].json.replyToken\n\nreturn {\n  messages,\n  replyToken\n}"
      },
      "id": "62695cec-c363-438b-83af-a837599c3122",
      "name": "組起來",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88592,
        93520
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.events",
        "options": {}
      },
      "id": "cc20f855-81f8-44b5-ad2f-f98178bb4437",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        84112,
        93552
      ]
    },
    {
      "parameters": {},
      "id": "a643018a-e83d-4a06-9822-f34dff28cde5",
      "name": "Merge Branches 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        88144,
        92400
      ]
    },
    {
      "parameters": {},
      "id": "a61c76e9-1f8b-4bdc-9e31-4b3876c2fd33",
      "name": "Merge Branches 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        87920,
        92208
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{done:true}}];"
      },
      "id": "b239bb4e-7cb9-44d0-ae03-07c9e2defb59",
      "name": "End Branch Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87920,
        92416
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{done:true}}];"
      },
      "id": "cbb5f5cc-bd88-41ff-b077-06e7929526d5",
      "name": "End Branch People",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87696,
        92224
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{done:true}}];"
      },
      "id": "829bed40-a95d-4099-8fe4-5eb714f69bfd",
      "name": "End Branch Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87696,
        92032
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevNodeName = $prevNode.name\n\nconst peopleName = $(prevNodeName).all().map(item => item.json.name)\n\nconst quoteToken = $('Split Out').all().map(item => item.json.message.quoteToken)[0]\n\nconst nextSaturdayQuarter = $('metadata1').first().json.nextSaturdayQuarter\n\nreturn [\n  {\n    \"type\":\"text\",\n    \"text\":[\n      `${nextSaturdayQuarter}`, \n      `💀 尚未繳費： ${peopleName.join(', ')}`,\n      '',\n      `✶ 如果已經付錢卻仍在這個名單上，應該是記帳精靈拖延症發作`\n    ].join('\\n'),\n    \"quoteToken\": quoteToken,\n  }\n]"
      },
      "id": "83779644-0386-45ee-a4e8-c1e2734fcf85",
      "name": "未繳費 message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88368,
        92608
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "252f388d-4ac7-49a4-82ae-a7f18044f701",
          "mode": "list",
          "cachedResultName": "人員清單",
          "cachedResultUrl": "https://www.notion.so/252f388d4ac749a482aea7f18044f701"
        },
        "filterType": "json",
        "filterJson": "={\n  \"property\":\"結清\",\n  \"formula\":{\n    \"checkbox\": {\n      \"equals\": false\n    }\n  }\n}",
        "options": {}
      },
      "id": "800cb4af-a4c4-4b17-9d32-8dd99589018f",
      "name": "未繳費名單",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        88144,
        92608
      ],
      "credentials": {
        "notionApi": {
          "id": "RRcVukfrFBXC9j01",
          "name": "Notion account (修 s1027401)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c52d968e-9ddc-4ccd-b4db-98a7f7aedd45",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "379ac78e-7452-4553-b59c-6828d8f3c926",
      "name": "active",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        84336,
        93552
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6ffc18b9-7e3e-464a-9572-f35473e52d4d",
        "options": {}
      },
      "id": "20e0e49c-7ccd-4564-a01c-0ccb80adca23",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        83888,
        93552
      ],
      "webhookId": "6ffc18b9-7e3e-464a-9572-f35473e52d4d"
    }
  ],
  "pinData": {},
  "connections": {
    "Update Calendar Guest List": {
      "main": [
        [
          {
            "node": "Registration Final Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Leave": {
      "main": [
        [
          {
            "node": "Registration Final Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion Router": {
      "main": [
        [
          {
            "node": "Update Notion Leave",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Calendar Guest List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registration Final Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration Logic Processor": {
      "main": [
        [
          {
            "node": "Update Notion Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Registration": {
      "main": [
        [
          {
            "node": "Registration Logic Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Notion Data": {
      "main": [
        [
          {
            "node": "Sync Registration",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Target": {
      "main": [
        [
          {
            "node": "Sync Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Target Person (By Name)": {
      "main": [
        [
          {
            "node": "Aggregate Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Target User (Mention)": {
      "main": [
        [
          {
            "node": "Aggregate Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration Target Switch": {
      "main": [
        [
          {
            "node": "Aggregate Target",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Target User (Mention)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Target Person (By Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Registration Target": {
      "main": [
        [
          {
            "node": "Registration Target Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Actor User": {
      "main": [
        [
          {
            "node": "Resolve Registration Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration Parser": {
      "main": [
        [
          {
            "node": "Get Actor User",
            "type": "main",
            "index": 0
          },
          {
            "node": "metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Admin For Auto Reply": {
      "main": [
        [
          {
            "node": "Skip Auto Reply If Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Admin Before Auto Reply": {
      "main": [
        [
          {
            "node": "Extract Admin For Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得使用者表 (lazy)": {
      "main": [
        [
          {
            "node": "Merge Admin Into Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Management": {
      "main": [
        [
          {
            "node": "Call 'Notion Badminton update user display_name'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新使用者": {
      "main": [
        [
          {
            "node": "Merge User Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          {
            "node": "更新使用者",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists Switch": {
      "main": [
        [
          {
            "node": "Prepare Update Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "新增使用者",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Exists": {
      "main": [
        [
          {
            "node": "User Exists Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Source": {
      "main": [
        [
          {
            "node": "取得使用者表",
            "type": "main",
            "index": 0
          },
          {
            "node": "Event Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Event Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新增使用者": {
      "main": [
        [
          {
            "node": "Merge User Management",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "取得使用者表": {
      "main": [
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Source Filter": {
      "main": [
        [
          {
            "node": "取得歡迎訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Switch": {
      "main": [
        [
          {
            "node": "is command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Join Source Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "歡迎訊息 child blocks": {
      "main": [
        [
          {
            "node": "Welcome Message Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得歡迎訊息": {
      "main": [
        [
          {
            "node": "歡迎訊息 child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration Final Reply": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Auto Reply If Admin": {
      "main": [
        [],
        [
          {
            "node": "取得 auto reply message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Admin Into Event": {
      "main": [
        [
          {
            "node": "if this user is manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Message Parser": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷 webhook url": {
      "main": [
        [
          {
            "node": "reply 球來就打 (lab)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reply Dobby",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Reply Message": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得 auto reply message": {
      "main": [
        [
          {
            "node": "Auto Reply Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Message": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "付款資訊 child blocks": {
      "main": [
        [
          {
            "node": "Payment Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得付款資訊": {
      "main": [
        [
          {
            "node": "付款資訊 child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar for Announce": {
      "main": [
        [
          {
            "node": "End Branch Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Season Info for Announce": {
      "main": [
        [
          {
            "node": "Get Calendar for Announce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Announce Metadata": {
      "main": [
        [
          {
            "node": "Get People for Announce",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Season Info for Announce",
            "type": "main",
            "index": 0
          },
          {
            "node": "取得最新公告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Latest Announcement Message": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得最新公告": {
      "main": [
        [
          {
            "node": "最新公告 child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "下次打球 v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow Router (People)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sync Notion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow Router (Next)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Sync Notion Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get People Next": {
      "main": [
        [
          {
            "node": "Flow Router (People)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Participants": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All People Global": {
      "main": [
        [
          {
            "node": "Match Participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Season Info Custom": {
      "main": [
        [
          {
            "node": "Get All People Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Season Metadata": {
      "main": [
        [
          {
            "node": "Get Season Info Custom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下次打球 v2": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得打球日": {
      "main": [
        [
          {
            "node": "Flow Router (Next)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令列表 message1": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command controller": {
      "main": [
        [
          {
            "node": "metadata1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "指令列表 message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Season Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Announce Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得付款資訊",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registration Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取得自我介紹",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is command": {
      "main": [
        [
          {
            "node": "取得使用者表 (lazy)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Admin Before Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata1": {
      "main": [
        [
          {
            "node": "未繳費名單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager rules": {
      "main": [
        [
          {
            "node": "metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if this user is manager": {
      "main": [
        [
          {
            "node": "Command controller",
            "type": "main",
            "index": 0
          },
          {
            "node": "Manager rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata": {
      "main": [
        [
          {
            "node": "取得打球日",
            "type": "main",
            "index": 0
          },
          {
            "node": "取得該季資訊",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得該季資訊": {
      "main": [
        [
          {
            "node": "Get People Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組起來": {
      "main": [
        [
          {
            "node": "判斷 webhook url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branches 2": {
      "main": [
        [
          {
            "node": "Latest Announcement Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "最新公告 child blocks": {
      "main": [
        [
          {
            "node": "End Branch Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branches 1": {
      "main": [
        [
          {
            "node": "Merge Branches 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get People for Announce": {
      "main": [
        [
          {
            "node": "End Branch People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End Branch Blocks": {
      "main": [
        [
          {
            "node": "Merge Branches 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "End Branch People": {
      "main": [
        [
          {
            "node": "Merge Branches 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "End Branch Calendar": {
      "main": [
        [
          {
            "node": "Merge Branches 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未繳費 message": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未繳費名單": {
      "main": [
        [
          {
            "node": "未繳費 message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active": {
      "main": [
        [
          {
            "node": "Check User Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得自我介紹": {
      "main": [
        [
          {
            "node": "自我介紹 child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "自我介紹 child blocks": {
      "main": [
        [
          {
            "node": "Self Intro Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Self Intro Parser": {
      "main": [
        [
          {
            "node": "組起來",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "82e3596c-cfd6-4720-84a1-c2465fa27497",
  "meta": {
    "instanceId": "434c89e639dca69ee85d48434474c04f2299edb82bd25537f48b2f00ff1d4403"
  },
  "id": "z-kTyrtVcRCn1Qs2zypfX",
  "tags": [
    {
      "updatedAt": "2025-04-15T04:50:25.893Z",
      "createdAt": "2025-04-15T04:50:25.893Z",
      "id": "0i74kYvNo5LJ26IU",
      "name": "bot"
    },
    {
      "updatedAt": "2025-04-15T05:32:41.173Z",
      "createdAt": "2025-04-15T05:32:41.173Z",
      "id": "aNPgZxmGaxoKb7As",
      "name": "line"
    },
    {
      "updatedAt": "2026-01-18T05:24:00.232Z",
      "createdAt": "2026-01-18T05:24:00.232Z",
      "id": "7Ke8MqCOSwz5NZgC",
      "name": "notion"
    }
  ]
}